In [1]:
import pandas as pd
df = pd.read_csv('재무재표샘플데이터.csv')
df

,기업,연도,부채비율,매출액증가율,영업이익증가율,당기순이익증가율,매출액_상태,영업이익_상태,당기순이익_상태,ROA,ROE,현재_주가,미래_주가,배당금,PER
0,3S,2013,70.612320,NaN,NaN,NaN,적자전환,적자전환,적자전환,1.036271,NaN,6100.0,4350.0,NaN,NaN
1,3S,2014,60.288336,-11.687845,173.179128,114.728018,흑자지속,적자전환,적자전환,-6.675781,-10.489496,4350.0,2535.0,NaN,NaN
2,3S,2015,56.323967,-24.352916,38.894997,14.974005,흑자지속,적자지속,적자지속,-8.312107,-13.836280,2535.0,3595.0,NaN,NaN
3,3S,2016,59.923676,2.240210,453.409466,-64.511098,흑자지속,흑자전환,적자지속,-5.893767,-9.383155,3595.0,2320.0,0.0,43.313253
4,3S,2017,54.331315,10.359573,148.592592,61.341308,흑자지속,적자전환,적자지속,-16.392325,-27.605322,2320.0,2685.0,0.0,11.047619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19403,힘스,2016,45.998444,NaN,NaN,NaN,NaN,NaN,NaN,10.213367,NaN,16530.0,8115.0,0.0,10.726801
19404,힘스,2017,72.028464,NaN,57.915341,59.139944,NaN,흑자지속,흑자지속,16.722845,32.533952,8115.0,7438.0,200.0,3.093786
19405,힘스,2018,80.625862,NaN,1014.435660,1285.956550,NaN,적자전환,적자전환,-1.567183,-1.950691,7438.0,7488.0,0.0,38.739583
19406,힘스,2019,70.065289,NaN,122.184183,112.102500,NaN,흑자전환,흑자전환,9.732740,14.897331,7488.0,13400.0,200.0,9.957447
19407,힘스,2020,85.556186,NaN,69.152237,50.930528,NaN,흑자지속,흑자지속,18.934010,24.841243,13400.0,NaN,150.0,8.804205

In [2]:
#columns
df.columns

Index(['기업', '연도', '부채비율', '매출액증가율', '영업이익증가율', '당기순이익증가율', '매출액_상태',
       '영업이익_상태', '당기순이익_상태', 'ROA', 'ROE', '현재_주가', '미래_주가', '배당금', 'PER'],
      dtype='object')

In [3]:
df.기업.value_counts()

아프리카TV     9
바이오톡스텍     9
천일고속       9
천랩         9
미코바이오메드    9
          ..
삼진         8
삼지전자       8
삼정펄프       8
삼일제약       8
힘스         8
Name: 기업, Length: 2352, dtype: int64

In [4]:
#중복 제거한 기업의 수
df['기업'].drop_duplicates().to_frame() #중복을 제거한 실제 기업 수

           기업
0          3S
8      AJ네트웍스
17      AK홀딩스
25     APS홀딩스
33      AP시스템
...       ...
19367  흥국에프엔비
19375    흥국화재
19383    흥아해운
19392      희림
19400      힘스

[2352 rows x 1 columns]

In [5]:
df.isna().sum()

기업             0
연도             0
부채비율        3833
매출액증가율      6132
영업이익증가율     5922
당기순이익증가율    6025
매출액_상태      4494
영업이익_상태     4299
당기순이익_상태    4408
ROA         3941
ROE         6017
현재_주가       1472
미래_주가       3650
배당금         5608
PER         6414
dtype: int64

In [8]:
#부채비율이 40 초과인 회사 카운트
df['부채비율>40']=df['부채비율'] >40
df['부채비율>40'].value_counts()

True     12105
False     7303
Name: 부채비율>40, dtype: int64

In [10]:
#비율
df['부채비율>40'].value_counts(normalize=True)

True     0.623712
False    0.376288
Name: 부채비율>40, dtype: float64

In [19]:
df['매출액_상태'].value_counts()

흑자지속    14609
흑자전환      151
적자지속       80
적자전환       74
Name: 매출액_상태, dtype: int64

In [20]:
#groupby 이용
df.groupby('기업')['현재_주가'].max()

기업
3S         6100.0
AJ네트웍스     8300.0
AK홀딩스     98500.0
APS홀딩스    20750.0
AP시스템     41700.0
           ...
흥국에프엔비    10406.0
흥국화재       5900.0
흥아해운      40284.0
희림         6230.0
힘스        16530.0
Name: 현재_주가, Length: 2352, dtype: float64

In [21]:
df.groupby(['기업','연도','부채비율>40'])['ROE'].max()

기업  연도    부채비율>40
3S  2013  True             NaN
    2014  True      -10.489496
    2015  True      -13.836280
    2016  True       -9.383155
    2017  True      -27.605322
                       ...
힘스  2016  True             NaN
    2017  True       32.533952
    2018  True       -1.950691
    2019  True       14.897331
    2020  True       24.841243
Name: ROE, Length: 18936, dtype: float64

In [24]:
import numpy as np
df.groupby('기업',as_index=False)[['연도','부채비율','매출액증가율']].agg({'부채비율':['max','min'],
                                                       '매출액증가율':[np.mean]})

          기업       부채비율                 매출액증가율
                    max        min        mean
0         3S  70.612320  54.331315   -7.698279
1     AJ네트웍스  23.070472  17.141354    1.595300
2      AK홀딩스  43.376323  26.737808    0.546101
3     APS홀딩스  83.187280  36.549948 -106.356261
4      AP시스템  37.208192  19.120399    8.150039
...      ...        ...        ...         ...
2347  흥국에프엔비  85.260983  44.781637    6.825711
2348    흥국화재        NaN        NaN         NaN
2349    흥아해운  27.203257  -9.165296  -83.028483
2350      희림  44.338821  31.108587    4.056665
2351      힘스  85.556186  45.998444         NaN

[2352 rows x 4 columns]

In [27]:
#특정기업
df[df['기업']=='카카오']

,기업,연도,부채비율,매출액증가율,영업이익증가율,당기순이익증가율,매출액_상태,영업이익_상태,당기순이익_상태,ROA,ROE,현재_주가,미래_주가,배당금,PER,부채비율>40
14931,카카오,2013,81.609707,NaN,NaN,NaN,흑자전환,흑자전환,흑자전환,28.271936,NaN,15635.0,22881.0,NaN,NaN,True
14932,카카오,2014,88.988653,57.748298,62.674472,59.013387,흑자지속,흑자지속,흑자지속,5.412578,11.348031,22881.0,19911.0,NaN,NaN,True
14933,카카오,2015,81.088068,46.483211,-99.153952,-90.213891,흑자지속,흑자지속,흑자지속,2.470293,3.120198,19911.0,17462.0,NaN,NaN,True
14934,카카오,2016,66.884992,NaN,23.719590,-20.333996,NaN,흑자지속,흑자지속,1.193540,2.093383,17462.0,25892.0,NaN,NaN,True
14935,카카오,2017,70.288575,NaN,29.776643,47.675213,NaN,흑자지속,흑자지속,1.970160,3.076972,25892.0,20673.0,NaN,NaN,True
14936,카카오,2018,70.697001,NaN,-126.706024,-687.305732,NaN,흑자지속,흑자지속,0.199620,0.314940,20673.0,31211.0,NaN,NaN,True
14937,카카오,2019,65.697032,NaN,64.722558,104.646890,NaN,흑자지속,적자전환,-3.913409,-6.015946,31211.0,100157.0,NaN,NaN,True
14938,카카오,2020,62.136084,NaN,54.637771,297.234209,NaN,흑자지속,흑자전환,1.450227,2.633075,100157.0,NaN,NaN,NaN,True